<template>
  <b-container class="py-5">
    <b-row class="m-auto" style="max-width: 650px">
      <b-col cols="12">
        <el-form
          ref="formDeck"
          :model="formDeck"
          :rules="rules"
          label-width="120px"
          label-position="left"
          size="small"
        >
          <el-form-item label="Tên" prop="name">
            <el-input placeholder="Nhập tên bộ bài" v-model="formDeck.name">
            </el-input>
          </el-form-item>

          <el-form-item label="Nguồn" prop="source">
            <el-input
              placeholder="Nhập nguồn tham khảo"
              v-model="formDeck.source"
            >
            </el-input>
          </el-form-item>
          <el-form-item label="Mô tả" prop="description">
            <el-input
              type="textarea"
              :autosize="{ minRows: 6, maxRows: 15 }"
              placeholder="Nhập mô tả bộ bài"
              v-model="formDeck.description"
            ></el-input>
          </el-form-item>
          <el-form-item class="text-center">
            <el-button type="primary" class="w-25" @click="onPreviousHandler"
              >Tạo</el-button
            >
            <el-button class="w-25">Huỷ</el-button>
          </el-form-item>
        </el-form>
      </b-col>
    </b-row>
    <YesNoDialog
      :dialogVisible="showDialog"
      :onCancelHandler="onCancelHandler"
      :onSubmitHandler="onSubmitHandler"
      :msgNotify="'Bạn có chắc chắn muốn tạo bộ bài này?'"
      :title="'Xác nhận tạo bộ bài'"
      :submitText="'Xác nhận'"
      :submitType="'primary'"
    />
  </b-container>
</template>

<script>
import { mapActions } from "vuex";
export default {
  layout: "private",
  middleware: "authenticated",
  middleware: "permission",
  data() {
    return {
      imageUrl: "",
      formDeck: {
        name: "",
        source: "",
        description: "",
      },
      rules: {
        name: [
          {
            required: true,
            message: "Vui lòng nhập tên lá bài",
            trigger: "blur",
          },
        ],
      },
      showDialog: false,
    };
  },
  methods: {
    ...mapActions({
      createDeck: "deck/DECK_CREATE",
    }),
    onPreviousHandler() {
      this.$refs.formDeck.validate((valid) => {
        if (valid) this.showDialog = true;
      });
    },
    onCancelHandler() {
      this.showDialog = false;
    },
    onSubmitHandler() {
      this.createDeck(this.formDeck)
        .then(() => {
          this.$notify({
            group: "all",
            title: "Tạo bộ bài thành công",
            type: "success",
          });
        })
        .catch((error) => {
          this.$notify({
            group: "all",
            title: "Tạo bộ bài thất bại",
            type: "error",
            text: error,
          });
        })
        .finally(() => {
          this.$refs.formDeck.resetFields();
          this.showDialog = false;
        });
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("Avatar picture must be JPG format!");
      }
      if (!isLt2M) {
        this.$message.error("Avatar picture size can not exceed 2MB!");
      }
      return isJPG && isLt2M;
    },
  },
};
</script>

<style>
.title,
.sub_title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 3rem;
  color: #35495e;
  letter-spacing: 1px;
}
.sub_title {
  font-size: 1.5rem;
}
.p_label {
  font-size: 14px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 250px;
  height: 400px;
  line-height: 400px;
  text-align: center;
}
.avatar {
  width: 250px;
  height: 400px;
  display: block;
}
</style>
