<template>
  <b-container class="py-3 card-deck-detail">
    <el-button
      v-if="false"
      class="position-absolute card-deck-detail__go-back"
      style="top: 10px; left: 10px"
      size="small"
      icon="el-icon-arrow-left"
    >
      Quay lại
    </el-button>
    <b-row>
      <b-col md="12" lg="5" xl="6" class="image-disabled text-center pb-3">
        <span class="p_label">Ảnh lá bài</span>
        <el-upload
          class="text-center"
          action=""
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
          :disabled="!item.isOriginal || !isAuthor"
        >
          <img v-if="imageUrl" :src="imageUrl" class="image mx-auto" />
          <div slot="tip" class="el-upload__tip">
            jpg/png files with a size less than 2MB
          </div>
          <el-button class="mt-2 upload__button" v-if="imageUrl" size="normal"
            >Thay đổi ảnh</el-button
          >
        </el-upload>
      </b-col>
      <b-col md="12" lg="7" xl="6">
        <b-row class="m-auto" style="max-width: 750px">
          <b-col cols="12">
            <!-- :model="item" -->
            <el-form
              label-width="150px"
              label-position="top"
              ref="form"
              :model="item"
              size="small"
              class="card-deck-detail__form"
            >
              <el-form-item label="Tên" prop="name">
                <el-input placeholder="Nhập tên bộ bài" v-model="item.name">
                </el-input>
              </el-form-item>

              <el-form-item label="Lá bài" prop="card_id">
                <el-select
                  v-model="item.card_id"
                  filterable
                  remote
                  placeholder="Chọn một lá bài"
                  style="width: 100%"
                  :disabled="
                    detail.language !== 'en' || !item.isOriginal || !isAuthor
                  "
                  :remote-method="onSearchCardDecksHandler"
                  class="search__select"
                >
                  <el-option
                    v-for="item in allCardDecks"
                    :key="item._id"
                    :label="item.name"
                    :value="item._id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Bộ bài" prop="deck_id">
                <el-select
                  v-model="item.deck_id"
                  filterable
                  remote
                  placeholder="Chọn một bộ bài"
                  style="width: 100%"
                  :disabled="
                    detail.language !== 'en' || !item.isOriginal || !isAuthor
                  "
                  :remote-method="onSearchDecksHandler"
                  class="search__select"
                >
                  <el-option
                    v-for="item in allDecks"
                    :key="item._id"
                    :label="item.name"
                    :value="item._id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>

              <el-form-item label="Từ khoá" prop="keyword">
                <span class="card-deck-form__label" slot="label"
                  >Từ khoá
                  <span class="card-deck-form__label-notice">
                    (Nhập các từ khoá theo hashtag. Ví dụ: #ngây thơ #hồn nhiên)
                  </span>
                </span>
                <el-input placeholder="Nhập từ khoá" v-model="item.keyword">
                </el-input>
              </el-form-item>
              <el-form-item label="Trích dẫn" prop="quote">
                <span class="card-deck-form__label" slot="label"
                  >Trích dẫn
                  <span class="card-deck-form__label-notice">
                    (Nhập trích dẫn/quote phù hợp với lá bài này)
                  </span>
                </span>
                <el-input
                  placeholder="Nhập trích dẫn"
                  v-model="item.quote"
                ></el-input>
              </el-form-item>
              <el-form-item label="Ý nghĩa" prop="meaning">
                <span class="card-deck-form__label" slot="label"
                  >Ý nghĩa
                  <span class="card-deck-form__label-notice">
                    (Kích thước khung text hiện đang là kích thước hiển thị trên
                    App mobile Taro)
                  </span>
                </span>
                <el-input
                  type="textarea"
                  :autosize="{ minRows: 10, maxRows: 20 }"
                  placeholder="Nhập ý nghĩa"
                  v-model="item.meaning"
                  class="card-deck-detail__form-item"
                ></el-input>
              </el-form-item>

              <el-form-item v-if="isAuthor" label="Người tạo">
                <el-input disabled v-model="item.fullname"> </el-input>
              </el-form-item>
              <el-form-item v-if="isAuthor" label="Thời gian tạo">
                <el-input v-model="item.createdAt" disabled></el-input>
              </el-form-item>
              <el-form-item v-if="isAuthor" label="Thời gian cập nhật">
                <el-input v-model="item.updatedAt" disabled></el-input>
              </el-form-item>
              <el-form-item class="text-center" size="medium">
                <el-button
                  type="primary"
                  :disabled="
                    !!(detail.group || []).find(
                      (item) => item.created_by.user_id === me.id
                    )
                  "
                  @click="onSubmitHandler"
                >
                  {{
                    item.isOriginal && !isAuthor
                      ? "Tạo bản dịch của tôi"
                      : "Cập nhật thông tin lá bài"
                  }}
                </el-button>
              </el-form-item>
            </el-form>
          </b-col>
          <!-- <b-col
            class="d-flex col-12 align-items-center justify-content-center"
            style="padding-left: 120px"
          >
            <el-button
              type="primary"
              class="w-60"
              :disabled="
                !!(detail.group || []).find(
                  (item) => item.created_by.user_id === me.id
                )
              "
              @click="onSubmitHandler"
            >
              {{
                item.isOriginal && !isAuthor
                  ? "Tạo bản dịch của tôi"
                  : "Cập nhật thông tin lá bài"
              }}
            </el-button>
          </b-col> -->
        </b-row>
      </b-col>
      <b-col cols="12 text-center mb-2 mt-5">
        <h5>Những bài dịch của tác giả khác</h5>
        <a
          v-for="item in detail.group"
          :key="item._id"
          @click="viewOtherCardDeck(item._id)"
          class="post__authors"
        >
          {{
            me.id === item.created_by.user_id
              ? "bài viết của tôi"
              : item.created_by.fullname || ""
          }}
        </a>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import debounce from "lodash/debounce";
export default {
  layout: "private",
  middleware: "authenticated",
  data() {
    return {
      item: {},
      isAuthor: false,
      imageUrl: "",
      file: null,
    };
  },
  computed: {
    ...mapGetters({
      loading: "card_deck/loading",
      detail: "card_deck/detail",
      me: "auth/me",
      allCardDecks: "card_deck/allCardDecks",
      allDecks: "deck/allDecks",
    }),
  },
  methods: {
    ...mapActions({
      getCardDeckDetail: "card_deck/CARD_DECK_DETAIL",
      getCardDeckAll: "card_deck/CARD_DECK_ALL",
      getDeckAll: "deck/DECK_ALL",
      createCardDeck: "card_deck/CARD_DECK_CREATE",
      updateCardDeck: "card_deck/CARD_DECK_UPDATE",
    }),
    onSubmitHandler() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          const payload = new FormData();
          for (const [key, value] of Object.entries(this.item)) {
            switch (key) {
              case "id":
              case "createdAt":
              case "updatedAt":
              case "fullname":
                break;
              case "meaning":
              case "keyword":
                payload.append(key, JSON.stringify([value]));
                break;
              case "isOriginal":
                if (!this.isAuthor)
                  payload.append("isOriginal", JSON.stringify(false));
                break;
              case "group_id":
                if (this.isAuthor) break;
              default:
                payload.append(key, value);
            }
          }
          if (this.file) payload.append("url", this.file);

          if (this.isAuthor) {
            this.onUpdateHandler(payload);
          } else this.onCreateHandler(payload);
        }
      });
    },
    handleAvatarSuccess(_, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
      this.file = file.raw;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("Avatar picture must be JPG format!");
      }
      if (!isLt2M) {
        this.$message.error("Avatar picture size can not exceed 2MB!");
      }
      return isJPG && isLt2M;
    },
    onSearchCardDecksHandler: debounce(function (val) {
      this.getCardDeckAll({ name: val });
    }, 200),
    onSearchDecksHandler: debounce(function (val) {
      this.getDeckAll({ name: val });
    }, 200),

    onCreateHandler(data) {
      this.createCardDeck(data)
        .then(() => {
          this.$notify({
            group: "all",
            title: "Tạo lá bài thành công",
            type: "success",
          });
          this.$router.push("/card-deck-list");
        })
        .catch((error) => {
          if (error.toString().includes("response is not defined")) {
            this.$notify({
              group: "all",
              title: "Tạo lá bài thành công",
              type: "success",
            });
            this.$router.push("/card-deck-list");
          } else
            this.$notify({
              group: "all",
              title: "Tạo lá bài thất bại",
              type: "error",
              text: error,
            });
        })
        .finally(() => {
          this.$refs.formCardDeck.resetFields();
        });
    },
    onUpdateHandler(data) {
      this.updateCardDeck({
        id: this.item.id,
        data,
      })
        .then(() => {
          this.$notify({
            group: "all",
            title: "Tạo lá bài thành công",
            type: "success",
          });
          this.$router.push("/card-deck-list");
        })
        .catch((error) => {
          if (error.toString().includes("response is not defined")) {
            this.$notify({
              group: "all",
              title: "Tạo lá bài thành công",
              type: "success",
            });
            this.$router.push("/card-deck-list");
          } else
            this.$notify({
              group: "all",
              title: "Tạo lá bài thất bại",
              type: "error",
              text: error,
            });
        })
        .finally(() => {
          this.$refs.formCardDeck.resetFields();
        });
    },
    viewOtherCardDeck(id) {
      this.$router.push(`/card-deck-list/${id}`);
    },
  },
  watch: {
    detail(val) {
      if (val) {
        this.item = {
          id: val._id,
          name: val.name,
          card_id: val.card_id,
          deck_id: val.deck_id,
          keyword: val.keyword.join(""),
          quote: val.quote || "",
          meaning: val.meaning.join(" "),
          isOriginal: val.isOriginal,
          fullname: val.created_by.fullname,
          createdAt: val.createdAt,
          updatedAt: val.updatedAt,
          group_id: val.group_id,
          language: val.language,
        };
        (this.imageUrl = val.image_url),
          (this.isAuthor = val?.created_by?.user_id === this.me.id);
      } else this.item = {};
    },
  },
  created() {
    const { id } = this.$route.params;
    this.getCardDeckDetail(id)
      .then(() => {
        this.getCardDeckAll();
        this.getDeckAll();
        // handle loading
      })
      .catch(() => {
        // notify
        this.$router.push("/card-deck-list");
      });
  },
};
</script>

<style lang="scss">
.p_label {
  font-size: 14px;
}

.image-disabled {
  .image {
    width: 250px;
    height: 400px;
    display: block;
  }
}
.search__select {
  &.el-select {
    .el-input--suffix {
      .el-select__caret.el-input__icon {
        &::before {
          content: "\e6e1" !important;
        }
      }
      &.is-focus {
        .el-select__caret.el-input__icon {
          transform: rotateZ(0) !important;
        }
      }
    }
  }
}
.post__authors {
  cursor: pointer;
  margin-right: 15px;
  &:hover {
    text-decoration: auto;
  }
}
.card-deck-detail {
  &__go-back {
  }
  &__form {
    .el-form-item__label {
      margin-bottom: 0 !important;
      padding: 0 !important;
    }
  }
}
</style>
