<template>
  <el-row type="flex" class="deck__list flex-wrap p-5">
    <el-col
      :md="4"
      :sm="6"
      :xs="8"
      v-for="(deck, index) in cardDecks.data"
      :key="deck.id"
    >
      <DeckItem
        @showDetail="onCarouselHandler(index)"
        :url="deck.full_url"
        :name="deck.name"
        :isCardItem="true"
      />
    </el-col>

    <el-col
      :span="24"
      class="my-5 text-center"
      v-if="!filters.deck && +cardDecks.total > pagination.number"
    >
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="+pagination.page"
        :page-sizes="[10, 20, 30, 50, 100]"
        :page-size="+pagination.number"
        layout="prev, pager, next, sizes"
        :total="+cardDecks.total"
        class="deck__list--pagination"
        popper-class="deck__list--pagination__popper"
      >
      </el-pagination>
    </el-col>
    <div class="deck__list--suit__filter">
      <div class="deck__list--suit__filter__wrapper">
        <div
          :class="[
            'deck__list--suit__filter__item',
            filters.suit === 'major' ? 'actived' : '',
          ]"
          @click="handleFilterSuit('major')"
        >
          <img src="/major.png" alt="" width="32" height="32" />
        </div>
        <div
          :class="[
            'deck__list--suit__filter__item',
            filters.suit === 'wands' ? 'actived' : '',
          ]"
          @click="handleFilterSuit('wands')"
        >
          <img src="/wand.png" alt="" width="24" height="32" />
        </div>
        <div
          :class="[
            'deck__list--suit__filter__item',
            filters.suit === 'swords' ? 'actived' : '',
          ]"
          @click="handleFilterSuit('swords')"
        >
          <img src="/sword.png" alt="" width="24" height="32" />
        </div>
        <div
          :class="[
            'deck__list--suit__filter__item',
            filters.suit === 'pentacles' ? 'actived' : '',
          ]"
          @click="handleFilterSuit('pentacles')"
        >
          <img src="/pentacle.png" alt="" width="32" height="32" />
        </div>
        <div
          :class="[
            'deck__list--suit__filter__item',
            filters.suit === 'cups' ? 'actived' : '',
          ]"
          @click="handleFilterSuit('cups')"
        >
          <img src="/cup.png" alt="" width="32" height="32" />
        </div>
        <div
          :class="[
            'deck__list--suit__filter__item',
            filters.suit === '' ? 'actived' : '',
          ]"
          @click="handleFilterSuit('')"
        >
          <img src="/all_suit.png" alt="" width="40" height="32" />
        </div>
      </div>
    </div>
    <el-dialog
      append-to-body
      top="10vh"
      :visible.sync="isShowCarousel"
      :show-close="false"
      center
      custom-class="deck__list--carousel"
      class="deck__list--dialog"
      :lock-scroll="false"
    >
      <CardsCarousel
        :cardDecks="cardDecks.data"
        :selectedIndex="selectedIndex"
        @updateSelectedIndex="selectedIndex = $event"
      />
    </el-dialog>
  </el-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import isEqual from "lodash/isEqual";
import pickBy from "lodash/pickBy";
import DeckItem from "../Item/index.vue";
import CardsCarousel from "../CardsCarousel/index.vue";
export default {
  components: {
    DeckItem,
    CardsCarousel,
  },
  props: {
    pagination: {
      type: Object,
      default: () => ({
        page: "1",
        number: "30",
      }),
    },
    filters: {
      type: Object,
      default: () => ({
        deck: "",
        card: "",
        suit: "",
      }),
    },
  },
  data() {
    return {
      isShowCarousel: false,
      selectedIndex: 0,
    };
  },
  computed: {
    ...mapGetters({
      cardDecks: "wiki/wikiCardDecks",
      loading: "wiki/loading",
    }),
  },
  watch: {
    "filters.deck"(val) {
      const data = {
        deck: val,
        keywords: this.filters.card,
        number: 999,
        page: 1,
        suit: this.filters.suit,
      };
      this.getWikiCardDeck(pickBy(data, (value) => value));
      this.replaceLocationQuery();
    },
    "filters.suit"(val) {
      const data = {
        deck: this.filters.deck,
        keywords: this.filters.card,
        number: 999,
        page: 1,
        suit: val,
      };
      this.getWikiCardDeck(pickBy(data, (value) => value));
      this.replaceLocationQuery();
    },
    pagination: {
      handler(val) {
        const data = {
          deck: this.filters.deck,
          keywords: this.filters.card,
          number: val.number,
          page: val.page,
          suit: this.filters.suit,
        };
        this.getWikiCardDeck(pickBy(data, (value) => value));
        this.replaceLocationQuery();
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      getWikiCardDeck: "wiki/GET_WIKI_CARD_DECK",
    }),
    handleSizeChange(value) {
      this.$emit("setPagination", {
        key: "number",
        value,
      });
    },
    handleCurrentChange(value) {
      this.$emit("setPagination", {
        key: "page",
        value,
      });
    },
    handleFilterSuit(value) {
      this.$emit("setFilters", {
        key: "suit",
        value,
      });
    },
    replaceLocationQuery() {
      const { path, query } = this.$route;
      const params = {
        ...this.pagination,
        ...this.filters,
      };
      const pickNotNullPaginate = pickBy(params, (value) => value);
      const pickNotNullQuery = pickBy(query, (value) => value);
      if (!isEqual(pickNotNullQuery, pickNotNullPaginate)) {
        this.$router.replace({
          pathname: path,
          query: {
            ...pickNotNullQuery,
            ...pickNotNullPaginate,
            suit: this.filters.suit,
          },
        });
      }
    },
    onCarouselHandler(index) {
      this.selectedIndex = index;
      this.$nextTick(() => (this.isShowCarousel = true));
    },
  },
  created() {
    const data = {
      deck: this.filters.deck,
      keywords: this.filters.card,
      number: this.filters.deck ? 999 : this.pagination.number,
      page: this.filters.deck ? 1 : this.pagination.page,
      suit: this.filters.suit,
    };
    this.getWikiCardDeck(pickBy(data, (value) => value));
    this.replaceLocationQuery();
  },
};
</script>

<style lang="scss">
.deck__list {
  &--suit__filter {
    position: fixed;
    bottom: 25px;
    left: 0;
    width: 100%;
    height: 3.5rem;
    &__wrapper {
      background: linear-gradient(
        180deg,
        rgba(135, 140, 71, 0.7917542016806722) 0%,
        rgba(33, 64, 64, 0.6937149859943977) 100%
      );
      display: flex;
      flex-direction: row;
      height: 100%;
      text-align: center;
      margin: 0 auto;
      width: 40%;
      border-radius: 100px;
      text-align: center;
      margin: 0 auto;
      background-size: 600px;
      justify-content: space-between;
      align-items: center;
      padding: 10px 50px;
    }
    &__item {
      padding-bottom: 10px;
      width: 40px;
      &:hover {
        cursor: pointer;
        border-bottom: 2px solid white;
      }
      &.actived {
        border-bottom: 2px solid rgb(114, 151, 54);
      }
    }
  }
}
</style>