<template>
  <nuxt-link to="/search">
    <b-col
      cols="12"
      class="d-flex col-12 align-items-center justify-content-center mb-3"
    >
      <Logo width="50px" height="45px" />
      <h1 class="title">Taro Admin</h1>
    </b-col>
  </nuxt-link>
</template>

<script>
export default {};
</script>

<style scoped>
a:hover {
  text-decoration: none !important;
}
</style>
