<template>
  <div>
    <div class="header">
      <status-icon :connected="user.connected" />{{ user.username }}
    </div>

    <ul class="messages">
      <li
        v-for="(message, index) in user.messages"
        :key="index"
        class="message"
      >
        <div v-if="displaySender(message, index)" class="sender">
          {{ message.fromSelf ? "(yourself)" : user.username }}
        </div>
        {{ message.content }}
      </li>
    </ul>
    <form class="form">
      <div class="fallback"></div>
      <input type="text" placeholder="Your message..." class="input" />
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>
</template>

<script>
import StatusIcon from "./StatusIcon";
import socket from '../plugins/socket';

export default {
  name: "MessagePanel",
  components: {
    StatusIcon,
  },
  props: {
    user: Object,
  },
  data() {
    return {
      // input: "",
    };
  },
  methods: {

    // onSubmit() {
    //   this.$emit("input", this.input);
    //   this.input = "";
    // },

    displaySender(message, index) {
      return (
        index === 0 ||
        this.user.messages[index - 1].fromSelf !==
          this.user.messages[index].fromSelf
      );
    },
  },
  created() {
    socket.on("socket userID",({userID, username}) => {
      socket.userID = userID,
      socket.username = username
    });
    socket.on("typing", (data) => {
      const fallback = document.querySelector(".fallback");
      const {isTyping, user} = data;
      if(!isTyping) {
        fallback.innerHTML ='';
        return;
      }
      fallback.innerHTML = `<p ><small>
                            <strong>${user}</strong> 
                            is typing...</small></p>`;
    })
  },
  mounted() {
    const formSubmit = document.querySelector(".form");
    const inputForm = document.querySelector(".input");
    formSubmit.addEventListener("submit", (e) => {
      e.preventDefault();
      this.$emit("input", inputForm.value);
      if(inputForm.value) {
       inputForm.value = '';
      }
    });

    inputForm.addEventListener("keyup", ()=> {
      socket.emit("typing",{
        isTyping: inputForm.value.length > 0,
        user: socket.username,
      })
    });
  },
  computed: {
    // isValid() {
    //   return this.input.length > 0;
    // },
  },
};
</script>

<style scoped>
.header {
  line-height: 40px;
  padding: 10px 20px;
  border-bottom: 1px solid #dddddd;
}

.messages {
  margin: 0;
  padding: 20px;
}

.message {
  list-style: none;
}

.sender {
  font-weight: bold;
  margin-top: 5px;
}

.form {
  padding: 10px;
}

.input {
  width: 80%;
  resize: none;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #000;
}

.send-button {
  vertical-align: top;
}
</style>
