<template>
  <el-row type="flex" class="deck__list flex-wrap">
    <el-col
      :md="4"
      :sm="6"
      :xs="8"
      v-for="(deck, index) in decks.data"
      :key="deck.id"
    >
      <DeckItem
        @showDetail="onCarouselHandler(index)"
        :url="deck.full_url"
        :coverMode="true"
        :name="deck.name"
      />
      <!-- :description="deck.description" -->
    </el-col>

    <el-col :span="24" class="py-3 text-center">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="+pagination.page"
        :page-sizes="[10, 20, 30, 50, 100]"
        :page-size="+pagination.number"
        layout="prev, pager, next, sizes"
        :total="+decks.total"
        class="deck__list--pagination"
        popper-class="deck__list--pagination__popper"
      >
      </el-pagination>
    </el-col>
    <el-dialog
      append-to-body
      top="10vh"
      :visible.sync="isShowCarousel"
      :show-close="false"
      center
      custom-class="deck__list--carousel"
      class="deck__list--dialog"
      :lock-scroll="false"
    >
      <DecksCarousel
        :decks="decks.data"
        :selectedIndex="selectedIndex"
        @updateSelectedIndex="selectedIndex = $event"
        @handleViewDetailDeck="handleViewDetailDeck"
      />
    </el-dialog>
  </el-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import isEqual from "lodash/isEqual";
import pickBy from "lodash/pickBy";
import DeckItem from "../Item/index.vue";
import DecksCarousel from "../DecksCarousel/index.vue";
export default {
  components: {
    DeckItem,
    DecksCarousel,
  },
  props: {
    pagination: {
      type: Object,
      default: () => ({
        page: "1",
        number: "30",
      }),
    },
  },
  data() {
    return {
      isShowCarousel: false,
      selectedIndex: 0,
    };
  },
  computed: {
    ...mapGetters({
      decks: "wiki/wikiDecks",
      loading: "wiki/loading",
    }),
  },
  watch: {
    pagination: {
      handler(val) {
        this.getWikiDeck(val);
        this.replaceLocationQuery();
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      getWikiDeck: "wiki/GET_WIKI_DECK",
    }),
    handleSizeChange(value) {
      this.$emit("setPagination", {
        key: "number",
        value,
      });
    },
    handleCurrentChange(value) {
      this.$emit("setPagination", {
        key: "page",
        value,
      });
    },
    handleViewDetailDeck(value) {
      this.$emit("setFilters", {
        key: "deck",
        value,
      });
    },
    onCarouselHandler(index) {
      this.selectedIndex = index;
      this.$nextTick(() => this.isShowCarousel = true);
    },
    replaceLocationQuery() {
      const { path, query } = this.$route;
      const pickNotNullPaginate = pickBy(this.pagination, (value) => value);
      const pickNotNullQuery = pickBy(query, (value) => value);
      if (!isEqual(query, this.pagination)) {
        this.$router.replace({
          pathname: path,
          query: {
            ...pickNotNullQuery,
            ...pickNotNullPaginate,
          },
        });
      }
    },
  },
  created() {
    console.log("created");
    this.getWikiDeck(this.pagination);
  },
};
</script>

<style lang="scss">
.deck__list {
  .deck__list--pagination {
    .el-input__inner {
      background: linear-gradient(
        180deg,
        rgb(230 73 204),
        rgba(128, 71, 140, 0.6376925770308124)
      ) !important;
      border-radius: 10px !important;
      border: none;
      color: white !important;
      font-weight: bold;

      min-width: 32px !important;
      height: 32px !important;
      line-height: 32px !important;
    }
    li,
    button {
      background: transparent;
      border-radius: 10px !important;
      border: none;
      color: white !important;
      font-weight: bold;
      min-width: 32px !important;
      height: 32px !important;
      line-height: 32px !important;
      margin: 0 3px !important;
      &:hover,
      &.active {
        background: linear-gradient(
          180deg,
          rgb(230 73 204),
          rgba(128, 71, 140, 0.6376925770308124)
        ) !important;
      }
    }
  }
}
.deck__list--pagination__popper {
  background: linear-gradient(
    120deg,
    rgb(230 73 204),
    rgba(128, 71, 140, 0.6376925770308124)
  ) !important;
  border-radius: 10px !important;
  border: none;
  padding: 0;
  .el-select-dropdown__list {
    padding: 0 !important;
  }
  .el-select-dropdown__item {
    color: white;
    transition: 0.2s;
    &.hover {
      color: black !important;
    }
    &.selected {
      color: white !important;
      background-color: #423ac2b8;
    }
  }
  .el-select-dropdown__item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .el-select-dropdown__item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.deck__list--dialog {
  background-color: #00000094;
}
.deck__list--carousel {
  background-color: #3834251f;
  .el-dialog__header {
    display: none;
  }
  width: 80vw;
  max-width: 2000px;
  .el-dialog__body {
    padding: 0 !important;
  }
}
</style>