<template>
  <b-container fluid v-loading.fullscreen.lock="loading">
    <h3>{{ (detail || {}).name }}</h3>
    <b-table-simple bordered>
      <b-tbody>
        <b-tr>
          <b-th>Tên</b-th>
          <b-td>
            {{ (detail || {}).name }}
          </b-td>
        </b-tr>
        <b-tr>
          <b-th>Tác giả</b-th>
          <b-td>
            {{ (detail || {}).author | ByUnkown }}
          </b-td>
        </b-tr>
        <b-tr>
          <b-th>Miêu tả</b-th>
          <b-td>
            {{ (detail || {}).description }}
          </b-td>
        </b-tr>
        <b-tr>
          <b-th>Nguồn</b-th>
          <b-td>
            <span class="d-inline" v-for="item in (detail || {}).source || []" :key="item">
              - {{ item }}
            </span>
          </b-td>
        </b-tr>
        <b-tr>
          <b-th>Thời gian tạo</b-th>
          <b-td>
            {{ (detail || {}).createdAt }}
          </b-td>
        </b-tr>
        <b-tr>
          <b-th>Thời gian cập nhật</b-th>
          <b-td>
            {{ (detail || {}).updatedAt }}
          </b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </b-container>
</template>
<style>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>

<script>
import { mapGetters } from "vuex";
export default {
  layout: "private",
  middleware: "authenticated",
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      loading: "deck/loading",
      detail: "deck/detail",
    }),
  },
  methods: {},
  beforeCreate() {
    const { id } = this.$route.params;
    if (!id) {
      this.$router.push("/deck-list");
    }
    this.$store.dispatch("deck/DECK_DETAIL", id);
  },
};
</script>

<style>
table {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
th {
  width: 200px;
  background-color: #fafafa;
}
</style>
