<template>
  <div class="wiki">
    <el-row>
      <!-- Filter & search components -->
      <div class="d-flex justify-content-center py-3">
        <el-button
          type="text"
          class="wiki-search__list"
          icon="el-icon-document"
          circle
          @click="resetPagination"
        ></el-button>
        <el-input
          placeholder="Nhập từ khoá"
          v-model="filters.card"
          @change="onChangeFilterHandler"
          class="wiki-search__input px-2"
          clearable
        >
          <el-select
            filterable
            remote
            v-model="filters.deck"
            slot="prepend"
            placeholder="Chọn bộ bài"
            popper-class="wiki-search__dropdown"
            class="wiki-search__select"
            :remote-method="onSearchWikiDecksHandler"
          >
            <el-option
              v-for="item in wikiDecks"
              :key="item._id"
              :label="item.name"
              :value="item.slug"
            >
            </el-option>
          </el-select>
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </div>

      <!-- List Card Component -->
      <el-col :span="24" v-if="triggerMode">
        <CardList
          :filters="filters"
          @setFilters="setFilters"
          :pagination="pagination"
          @setPagination="setPagination"
        />
      </el-col>

      <!-- List Deck Component & Pagination-->
      <el-col :span="24" v-else>
        <DeckList
          :pagination="pagination"
          @setPagination="setPagination"
          @setFilters="setFilters"
        />
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import debounce from "lodash/debounce";
import isEqual from "lodash/isEqual";
import pickBy from "lodash/pickBy";
import DeckList from "./DeckList/index.vue";
import CardList from "./CardList/index.vue";
export default {
  layout: "wiki",
  components: {
    DeckList,
    CardList,
  },
  data() {
    return {
      pagination: {
        page: "1",
        number: "30",
      },
      filters: {
        card: "",
        deck: "",
        suit: "",
      },
      triggerMode: false,
    };
  },
  computed: {
    ...mapGetters({
      wikiDecks: "wiki/wikiSearchDecks",
      loading: "wiki/loading",
    }),
  },
  methods: {
    ...mapActions({
      searchWikiDeck: "wiki/SEARCH_WIKI_DECK",
      getWikiDeck: "wiki/GET_WIKI_DECK",
      getWikiCardDeck: "wiki/GET_WIKI_CARD_DECK",
    }),
    defaultData() {
      this.pagination = {
        page: "1",
        number: "30",
      };
      this.filters = {
        card: "",
        deck: "",
        suit: "",
      };
      this.triggerMode = false;
    },
    onSearchWikiDecksHandler: debounce(function (val) {
      this.searchWikiDeck(val);
    }, 200),
    onChangeFilterHandler(val = "") {
      val = val.trim();
      this.triggerMode = !!val || this.filters.deck;
      this.filters.card = val;
      this.replaceLocationQuery();
      this.getWikiCardDeck({
        keywords: val,
        deck: this.filters.deck,
        page: this.filters.deck ? 1 : this.pagination.page,
        number: this.filters.deck ? 999 : this.pagination.number,
      });
    },
    setPagination({ key, value }) {
      this.pagination[key] = value;
    },
    setFilters({ key, value }) {
      this.filters[key] = value;
    },
    resetPagination() {
      this.defaultData();
      this.replaceLocationQuery();
    },
    replaceLocationQuery() {
      const { path, query } = this.$route;
      const params = {
        ...this.pagination,
        ...this.filters,
      };
      const pickNotNullPaginate = pickBy(params, (value) => value);
      if (!isEqual(query, pickNotNullPaginate)) {
        this.$router.replace({
          pathname: path,
          query: pickNotNullPaginate,
        });
      }
    },
  },
  watch: {
    "filters.deck"(deck) {
      this.triggerMode = !!deck;
    },
  },
  // mounted() {
  //   this.getWikiDeck(this.pagination);
  // },
  created() {
    this.searchWikiDeck();
    const {
      query: { page = 1, number = 30, ...rest },
    } = this.$route;
    this.pagination = {
      page,
      number,
    };
    this.triggerMode = !!rest.deck || !!rest.card;
    this.filters = {
      ...this.filters,
      ...rest,
    };
  },
};
</script>

<style>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>

<style lang="scss" >
.wiki {
  .wiki-search__input {
    width: 800px !important;
    > .el-input__inner {
      background-color: #bfbfbf36;
      border-top: none;
      border-bottom: none;
      color: white !important;
    }
    .el-input-group__append {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border: none;
      background-color: #bfbfbf36;
    }
    .el-input-group__prepend {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border: none;
      background-color: #bfbfbf36;
      .el-select {
        width: 200px;
        .el-input__inner {
          color: white !important;
        }
        .el-input--suffix {
          .el-select__caret.el-input__icon {
            &::before {
              content: "\e6e1" !important;
            }
          }
          &.is-focus {
            .el-select__caret.el-input__icon {
              transform: rotateZ(0) !important;
            }
          }
        }
      }
    }
  }
  .wiki-search__list {
    background-image: url("/bg-cricleldpi.png");
    background-size: 45px;
    background-position: 50%;
  }
}
.wiki-search__dropdown {
  background-image: linear-gradient(
    70deg,
    rgb(25 64 64),
    rgb(82 105 77)
  ) !important;
  border: none;
  .el-select-dropdown__item {
    color: white !important;
    transition: 0.2s;
    &.selected {
      background-color: #9ac23a59;
    }
    &.hover {
      color: black !important;
    }
  }
}
</style>

