<template>
  <div>
    <div style="width: 300px">
    <SearchInput
      :placeholder="'Nhập tên lá bài cần tìm'"
      :clearable="true"
      @onChangeHandler="onChangeHandler"
    />
    </div>
    <el-table
      @sort-change="onSortNameHandler"
      @filter-change="onFilterHandler"
      :data="cardDecks.data || []"
      style="width: 100%"
      v-loading="loading || loadingDecks"
      element-loading-text="Loading..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.4)"
    >
      <el-table-column
        prop="name"
        label="Tên lá bài"
        sortable="custom"
      ></el-table-column>
      <el-table-column
        prop="deck"
        column-key="deck"
        label="Tên bộ bài"
        :filters="
          allDecks.map((item) => ({ text: item.name, value: item._id }))
        "
        filter-placement="bottom"
      ></el-table-column>
      <el-table-column prop="image_url" label="Ảnh" width="160">
        <template slot-scope="scope">
          <img :src="scope.row.image_url" width="100" height="150" />
        </template>
      </el-table-column>
      <el-table-column prop="state" label="Trạng thái" sortable="custom">
        <template slot-scope="scope">
          <el-tag
            :type="scope.row.state === 'PROCESSING' ? 'primary' : 'success'"
            disable-transitions
          >
            {{ scope.row.state === "PROCESSING" ? "Đang xử lý" : "Đã duyệt" }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="group" label="Bảng dịch" width="80">
        <template slot="header">
          <span class="nation__flag">{{ nationFlags.en }}</span>
          <span class="nation__flag">{{ nationFlags.vi }}</span>
        </template>
        <template slot-scope="scope">
          <span v-for="(_, key) in nationFlags" :key="key">
            <i
              v-if="scope.row.group[key]"
              class="el-icon-edit nation__flag action"
              @click="handleEditOriginal(scope.row.group[key])"
            ></i>
            <i
              v-else
              class="el-icon-circle-plus-outline nation__flag action"
              @click="handleEditOtherLang(scope.row, key)"
            ></i>
          </span>
        </template>
      </el-table-column>
      <el-table-column
        prop="created_by.fullname"
        label="Người tạo"
      ></el-table-column>

      <el-table-column width="160" label="Tuỳ chọn" v-if="canDelete">
        <!-- <template slot="header">
          <SearchInput
            :placeholder="'Nhập tên lá bài cần tìm'"
            :clearable="true"
            @onChangeHandler="onChangeHandler"
          />
        </template> -->
        <template slot-scope="scope">
          <el-button
            type="primary"
            size="mini"
            @click="handleEdit(scope.$index, scope.row)"
            >Duyệt</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
            >Xoá</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <div class="d-flex justify-content-end p-2">
      <el-pagination
        @size-change="onSizeChangeHandler"
        @current-change="onCurrentChangeHandler"
        :current-page="cardDecks.currentPage || pagination.page"
        :page-sizes="[10, 20, 30, 50]"
        :page-size="pagination.number"
        layout="prev, pager, next, sizes"
        :total="cardDecks.sizeDocuments"
      >
      </el-pagination>
    </div>
    <YesNoDialog
      :dialogVisible.sync="showDeleteDialog"
      :onCancelHandler="onCancelDeleteHandler"
      :onSubmitHandler="onSubmitDeleteHandler"
      :msgNotify="'Bạn có muốn xoá lá bài này?'"
      :title="'Xoá lá bài'"
    />
    <YesNoDialog
      :dialogVisible.sync="showApproveDialog"
      :onCancelHandler="cancelAppoveHandler"
      :onSubmitHandler="submitAppoveHandler"
      :msgNotify="'Bạn có muốn duyệt lá bài này?'"
      :title="'Duyệt lá bài'"
      :submitText="'Duyệt'"
      :submitType="'primary'"
    />
  </div>
</template>
<style>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";
import SearchInput from "@components/SearchInput";
import isString from "lodash/isString";
export default {
  layout: "private",
  middleware: "authenticated",
  components: {
    SearchInput,
  },
  data() {
    return {
      showDeleteDialog: false,
      showApproveDialog: false,
      pagination: {
        page: 1,
        number: 10,
        keyword: "",
        field: "",
        order: "",
        filter: "",
      },
      idRowSelected: null,
      nationFlags: {
        en: "🇺🇸",
        vi: "🇻🇳",
      },
    };
  },
  computed: {
    ...mapGetters({
      loading: "card_deck/loading",
      cardDecks: "card_deck/cardDecks",
      loadingDecks: "deck/loading",
      allDecks: "deck/allDecks",
      canDelete: "auth/canDelete",
    }),
  },
  methods: {
    ...mapActions({
      getCardDeckList: "card_deck/CARD_DECK_LIST",
      getDeckAll: "deck/DECK_ALL",
      deleteCardDeck: "card_deck/CARD_DECK_DELETE",
    }),
    onChangeHandler(val) {
      if (isString(val)) {
        this.pagination.keyword = val.trim();
      }
    },
    onSortNameHandler({ prop, order }) {
      const sort = {
        field: order ? prop : "",
        order: order?.replace("ing", ""),
      };
      this.pagination = {
        ...this.pagination,
        ...sort,
      };
    },
    onFilterHandler({ deck }) {
      this.pagination.filter = deck;
    },
    onSizeChangeHandler(val) {
      this.pagination.number = val;
    },
    onCurrentChangeHandler(val) {
      this.pagination.page = val;
    },

    handleEdit(index, row) {
      this.showApproveDialog = true;
      console.log(index, row);
    },
    handleDelete(_, { _id }) {
      this.idRowSelected = _id;
      this.showDeleteDialog = true;
    },
    onCancelDeleteHandler() {
      this.idRowSelected = null;
      this.showDeleteDialog = false;
    },
    onSubmitDeleteHandler() {
      this.deleteCardDeck(this.idRowSelected)
        .then(() => {
          this.$notify({
            group: "all",
            title: "Xóa lá bài thành công",
            type: "success",
          });
          this.getCardDeckList(this.pagination);
        })
        .catch((error) => {
          this.$notify({
            group: "all",
            title: "Xóa lá bài thất bại",
            type: "error",
            text: error,
          });
        })
        .finally(() => {
          this.showDeleteDialog = false;
        });
    },
    cancelAppoveHandler() {
      this.showApproveDialog = false;
    },
    submitAppoveHandler() {
      console.log("handle appove user");
      this.showApproveDialog = false;
    },
    handleEditOriginal(id) {
      this.$router.push(`/card-deck-list/${id}`);
    },
    handleEditOtherLang(item, lang) {
      this.$router.push({
        path: "/card-deck-form",
        query: {
          from: item._id,
          lang,
        },
      });
    },
  },
  watch: {
    pagination: {
      handler(val) {
        this.getCardDeckList(val);
      },
      deep: true,
    },
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.getCardDeckList(vm.pagination);
      vm.getDeckAll();
    });
  },
};
</script>

<style lang="scss" scoped>
.nation__flag {
  font-size: 20px;
  width: 30px;
  &.action {
    cursor: pointer;
  }
}
</style>