<template>
  <b-container class="py-5 card-deck-form">
    <b-row>
      <b-col cols="6">
        <el-upload
          :class="['avatar-uploader text-center', from ? 'disabled' : '']"
          action=""
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload"
          :disabled="!!from"
        >
          <img v-if="imageUrl" :src="imageUrl" class="avatar" />
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          <div slot="tip" class="el-upload__tip">
            jpg/png files with a size less than 2MB
          </div>
        </el-upload>
      </b-col>
      <b-col cols="6">
        <b-row class="m-auto" style="max-width: 650px">
          <b-col cols="12">
            <el-form
              ref="formCardDeck"
              :model="formCardDeck"
              label-width="120px"
              label-position="top"
              :rules="rules"
              size="small"
              class="card-deck-form__form"
            >
              <el-form-item label="Lá bài" prop="card_id">
                <el-select
                  v-model="formCardDeck.card_id"
                  filterable
                  remote
                  placeholder="Chọn một lá bài"
                  style="width: 100%"
                  :remote-method="onSearchCardDecksHandler"
                  :disabled="!!from"
                >
                  <el-option
                    v-for="item in allCardDecks"
                    :key="item._id"
                    :label="item.name"
                    :value="item._id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Bộ bài" prop="deck_id">
                <el-select
                  v-model="formCardDeck.deck_id"
                  filterable
                  remote
                  placeholder="Chọn một bộ bài"
                  style="width: 100%"
                  :remote-method="onSearchDecksHandler"
                  :disabled="!!from"
                >
                  <el-option
                    v-for="item in allDecks"
                    :key="item._id"
                    :label="item.name"
                    :value="item._id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Ngôn ngữ" prop="lang">
                <el-radio-group v-model="formCardDeck.language" disabled>
                  <el-radio label="en">Tiếng Anh</el-radio>
                  <el-radio label="vi">Tiếng Việt</el-radio>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="Được dịch từ" prop="from">
                <el-input
                  disabled
                  placeholder="(Mặc định)"
                  v-model="formCardDeck.from"
                >
                </el-input>
              </el-form-item>
              <el-form-item label="Tên" prop="name">
                <el-input
                  placeholder="Nhập tên bộ bài"
                  v-model="formCardDeck.name"
                >
                </el-input>
              </el-form-item>
              <el-form-item label="Từ khoá" prop="keyword">
                <span class="card-deck-form__label" slot="label"
                  >Từ khoá
                  <span class="card-deck-form__label-notice">
                    (Nhập các từ khoá theo hashtag. Ví dụ: #ngây thơ #hồn nhiên)
                  </span>
                </span>
                <el-input
                  placeholder="Nhập từ khoá"
                  v-model="formCardDeck.keyword"
                  :disabled="!!from"
                >
                </el-input>
              </el-form-item>
              <el-form-item label="Trích dẫn" prop="quote">
                <span class="card-deck-form__label" slot="label"
                  >Trích dẫn
                  <span class="card-deck-form__label-notice">
                    (Nhập trích dẫn/quote phù hợp với lá bài này)
                  </span>
                </span>
                <el-input
                  placeholder="Nhập trích dẫn"
                  v-model="formCardDeck.quote"
                ></el-input>
              </el-form-item>
              <el-form-item label="Ý nghĩa" prop="meaning">
                <el-input
                  type="textarea"
                  :autosize="{ minRows: 6, maxRows: 15 }"
                  placeholder="Nhập ý nghĩa"
                  v-model="formCardDeck.meaning"
                ></el-input>
                <span class="card-deck-form__label" slot="label"
                  >Ý nghĩa
                  <span class="card-deck-form__label-notice">
                    (Kích thước khung text hiện đang là kích thước hiển thị trên
                    App mobile Taro)
                  </span>
                </span>
              </el-form-item>
              <el-form-item class="text-center" size="medium">
                <el-button type="primary" @click="onPreviousHandler"
                  >Tạo</el-button
                >
                <el-button>Huỷ</el-button>
              </el-form-item>
            </el-form>
          </b-col>
          <!-- <b-col
            class="d-flex col-12 align-items-center justify-content-center"
            style="padding-left: 120px"
          >
            <el-button type="primary" class="w-25" @click="onPreviousHandler"
              >Tạo</el-button
            >
            <el-button class="w-25">Huỷ</el-button>
          </b-col> -->
        </b-row>
      </b-col>
    </b-row>
    <YesNoDialog
      :dialogVisible="showDialog"
      :onCancelHandler="onCancelHandler"
      :onSubmitHandler="onSubmitHandler"
      :msgNotify="'Bạn có chắc chắn muốn tạo bộ bài này?'"
      :title="'Xác nhận tạo bộ bài'"
      :submitText="'Xác nhận'"
      :submitType="'primary'"
    />
  </b-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import debounce from "lodash/debounce";
export default {
  layout: "private",
  middleware: "authenticated",
  middleware: "permission",
  data() {
    return {
      imageUrl: "",
      formCardDeck: {
        card_id: null,
        deck_id: null,
        language: "en",
        from: null,
        name: "",
        keyword: null,
        quote: "",
        meaning: "",
      },
      rules: {
        card_id: [
          {
            required: true,
            message: "Vui lòng chọn một lá bài",
            trigger: "change",
          },
        ],
        deck_id: [
          {
            required: true,
            message: "Vui lòng chọn một bộ bài",
            trigger: "change",
          },
        ],
        name: [
          {
            required: true,
            message: "Vui lòng nhập tên lá bài",
            trigger: "blur",
          },
        ],
        meaning: [
          {
            required: true,
            message: "Vui lòng nhập ý nghĩa",
            trigger: "blur",
          },
        ],
      },
      showDialog: false,
      file: null,
      from: null,
    };
  },
  methods: {
    ...mapActions({
      createCardDeck: "card_deck/CARD_DECK_CREATE",
      getCardDeckAll: "card_deck/CARD_DECK_ALL",
      getDeckAll: "deck/DECK_ALL",
      getCardDeckDetail: "card_deck/CARD_DECK_DETAIL",
    }),
    onPreviousHandler() {
      this.$refs.formCardDeck.validate((valid) => {
        if (valid) this.showDialog = true;
      });
    },
    onCancelHandler() {
      this.showDialog = false;
    },
    onSubmitHandler() {
      // append form data
      const payload = new FormData();
      for (const [key, value] of Object.entries(this.formCardDeck)) {
        if (key === "from") {
          if (!value) payload.append("url", this.file);
        } else if (key === "meaning" || key === "keyword") {
          payload.append(key, JSON.stringify([value]));
        } else payload.append(key, value);
      }
      payload.append("isOriginal", JSON.stringify(true));
      this.createCardDeck(payload)
        .then(() => {
          this.$notify({
            group: "all",
            title: "Tạo lá bài thành công",
            type: "success",
          });
          this.$router.push("/card-deck-list");
        })
        .catch((error) => {
          if (error.toString().includes("response is not defined")) {
            this.$notify({
              group: "all",
              title: "Tạo lá bài thành công",
              type: "success",
            });
            this.$router.push("/card-deck-list");
          } else
            this.$notify({
              group: "all",
              title: "Tạo lá bài thất bại",
              type: "error",
              text: error,
            });
        })
        .finally(() => {
          this.$refs.formCardDeck.resetFields();
          this.showDialog = false;
        });
    },
    handleAvatarSuccess(_, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
      this.file = file.raw;
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg" || file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error("Avatar picture must be JPG or PNG format!");
      }
      if (!isLt2M) {
        this.$message.error("Avatar picture size can not exceed 2MB!");
      }
      return isJPG && isLt2M;
    },
    onSearchCardDecksHandler: debounce(function (val) {
      this.getCardDeckAll({ name: val });
    }, 200),
    onSearchDecksHandler: debounce(function (val) {
      this.getDeckAll({ name: val });
    }, 200),
  },
  computed: {
    ...mapGetters({
      loading: "card_deck/loading",
      allCardDecks: "card_deck/allCardDecks",
      loadingDecks: "deck/loading",
      allDecks: "deck/allDecks",
      detail: "card_deck/detail",
    }),
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.getCardDeckAll();
      vm.getDeckAll();
    });
  },
  created() {
    const { from, lang } = this.$route.query;
    if (from) {
      this.getCardDeckDetail(from)
        .then(() => {
          //
          this.from = from;
          this.formCardDeck.from = this.detail.name;
          this.formCardDeck.language = lang;
          this.formCardDeck.card_id = this.detail.card_id;
          this.formCardDeck.deck_id = this.detail.deck_id;
          this.formCardDeck.group_id = this.detail.group_id;
          this.formCardDeck.keyword = this.detail.keyword.join(" ");
          this.imageUrl = this.detail.image_url;
        })
        .catch(() => {
          this.$router.push("/card-deck-list");
        });
    }
  },
};
</script>

<style lang="scss" scoped>
.title,
.sub_title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 3rem;
  color: #35495e;
  letter-spacing: 1px;
}
.sub_title {
  font-size: 1.5rem;
}
.p_label {
  font-size: 14px;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 250px;
    height: 400px;
    line-height: 400px;
    text-align: center;
  }
  .avatar {
    width: 250px;
    height: 400px;
    display: block;
  }
}
</style>

<style lang="scss">
.card-deck-form {
  &__form {
    .el-form-item__label {
      margin-bottom: 0 !important;
      padding: 0 !important;
    }
  }
  &__label {
    &-notice {
      font-style: italic;
      display: block;
      font-size: 12px;
    }
  }
}
</style>