<template>
  <el-carousel
    ref="carousel"
    :autoplay="false"
    height="80vh"
    arrow="always"
    trigger="click"
    indicator-position="none"
    class="card-deck__carousel"
    :initial-index="selectedIndex"
    @change="$emit('updateSelectedIndex', $event)"
  >
    <el-carousel-item
      v-for="(item, index) in cardDecks"
      :key="item.id"
      :name="index.toString()"
    >
      <el-row class="card-deck__carousel-wrapper">
        <el-col :md="12" :lg="15">
          <span class="card-deck__carousel-name">{{ item.name }}</span>
          <span class="card-deck__carousel-keyword"
            >Keywords: {{ item.keywords.join(", ") }}</span
          >
        </el-col>
        <el-col :md="12" :lg="9" class="p-2">
          <DeckItem
            :url="item.full_url"
            :name="item.name"
            :isDetailItem="true"
          />
        </el-col>
        <el-col :span="24">
          <span
            class="card-deck__carousel-meaning"
            v-for="(text, index) in item.meaning"
            :key="index"
          >
            {{ text }}
          </span>
        </el-col>
      </el-row>
    </el-carousel-item>
  </el-carousel>
</template>

<script>
import DeckItem from "../Item/index.vue";
export default {
  components: {
    DeckItem,
  },
  props: {
    cardDecks: {
      type: Array,
      default: () => [],
    },
    selectedIndex: {
      type: Number,
      default: 0,
    },
  },
  watch: {
    selectedIndex(val) {
      this.$refs.carousel.setActiveItem(val.toString());
    },
  },
};
</script>

<style lang="scss">
.card-deck__carousel {
  background-image: url("/swiper_bg.png");
  background-size: cover;
  border-radius: 5px;
  color: white;
  .el-carousel__arrow {
    font-size: 30px;
    width: 45px !important;
    height: 45px !important;
  }
  &-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 50px;
    height: 80vh;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 20px;
    }
    span {
      display: block;
    }
    .card-deck__carousel {
      &-meaning {
        font-size: 1.5rem;
        word-break: keep-all;
      }
      &-name {
        font-size: 2.5rem;
        margin-bottom: 15px;
      }
      &-keyword {
        font-size: 2rem;
      }
    }
  }
}
.el-carousel__item {
  background-color: transparent !important;
}
</style>