<template>
  <div>
    <div style="width: 300px">
      <SearchInput
        :placeholder="'Nhập tên bộ bài cần tìm'"
        :clearable="true"
        @onChangeHandler="onChangeHandler"
      />
    </div>
    <el-table
      :data="decks.data || []"
      style="width: 100%"
      @sort-change="onSortNameHandler"
      v-loading="loading"
      element-loading-text="Loading..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.4)"
    >
      <el-table-column
        prop="name"
        label="Tên bộ bài"
        sortable="custom"
      ></el-table-column>

      <el-table-column prop="image_url" label="Ảnh" width="160">
        <template slot-scope="scope">
          <img :src="scope.row.image_url" width="100" height="150" />
        </template>
      </el-table-column>

      <el-table-column prop="author" label="Tác giả">
        <span slot-scope="scope">
          {{ scope.row.author | ByUnkown }}
        </span>
      </el-table-column>

      <el-table-column
        prop="createdAt"
        label="Thời gian tạo"
        sortable="custom"
      ></el-table-column>

      <!-- <el-table-column
        prop="updatedAt"
        label="Thời gian cập nhật"
        sortable="custom"
      ></el-table-column> -->

      <el-table-column label="Tuỳ chọn" width="180">
        <!-- <template slot="header">
          <SearchInput
            :placeholder="'Nhập tên bộ bài cần tìm'"
            :clearable="true"
            @onChangeHandler="onChangeHandler"
          />
        </template> -->
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="onViewDetailHandler(scope.$index, scope.row)"
            type="primary"
            >Chi tiết</el-button
          >
          <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)"
            v-if="canEdit"
            >Sửa</el-button
          >
          <el-button
            size="mini"
            type="danger"
            v-if="canDelete"
            @click="handleDelete(scope.$index, scope.row)"
            >Xoá</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <div class="d-flex justify-content-end p-2">
      <el-pagination
        @size-change="onSizeChangeHandler"
        @current-change="onCurrentChangeHandler"
        :current-page="decks.currentPage || pagination.page"
        :page-sizes="[10, 20, 30, 50]"
        :page-size="pagination.number"
        layout="prev, pager, next, sizes"
        :total="decks.sizeDocuments"
      >
      </el-pagination>
    </div>
    <YesNoDialog
      :dialogVisible="showDeleteDialog"
      :onCancelHandler="onCancelDeleteHandler"
      :onSubmitHandler="onSubmitDeleteHandler"
      :msgNotify="'Bạn có muốn xoá bộ bài này?'"
      :title="'Xoá bộ bài'"
    />
    <DeckEditDialog
      :dialogVisible="showEditDialog"
      :onCancelHandler="onCancelEditHandler"
      :onSubmitHandler="onSubmitEditHandler"
      :itemSelected="itemSelected"
    />
  </div>
</template>
<style>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>

<script>
import { mapGetters, mapActions } from "vuex";
import isString from "lodash/isString";
import SearchInput from "@components/SearchInput";
export default {
  layout: "private",
  middleware: "authenticated",
  components: {
    SearchInput,
  },
  data() {
    return {
      search: "",
      currentPage: 1,
      showDeleteDialog: false,
      showEditDialog: false,
      itemSelected: {},
      pagination: {
        page: 1,
        number: 10,
        field: "",
        order: "",
        keyword: "",
      },
    };
  },
  computed: {
    ...mapGetters({
      loading: "deck/loading",
      decks: "deck/decks",
      canEdit: "auth/canEdit",
      canDelete: "auth/canDelete",
    }),
  },
  methods: {
    ...mapActions({
      getDeckList: "deck/DECK_LIST",
      updateDeckDetail: "deck/DECK_DETAIL_UPDATE",
      deleteDeck: "deck/DECK_DELETE",
    }),
    onChangeHandler(val) {
      if (isString(val)) {
        this.pagination.keyword = val.trim();
      }
    },
    onSortNameHandler({ prop, order }) {
      const sort = {
        field: order ? prop : "",
        order: order?.replace("ing", ""),
      };
      this.pagination = {
        ...this.pagination,
        ...sort,
      };
    },
    onViewDetailHandler(_, { _id }) {
      this.$router.push(`deck-list/${_id}`);
    },
    handleEdit(_, row) {
      this.itemSelected = row;
      this.showEditDialog = true;
    },
    onSubmitEditHandler(val) {
      this.updateDeckDetail(val)
        .then(() => {
          this.$notify({
            group: "all",
            title: "Cập nhật bộ bài thành công",
            type: "success",
          });
          // this.getDeckList(this.pagination);
        })
        .catch((error) => {
          this.$notify({
            group: "all",
            title: "Cập nhật bộ bài thất bại",
            type: "error",
            text: error,
          });
        })
        .finally(() => {
          this.showEditDialog = false;
        });
    },
    onCancelEditHandler() {
      this.showEditDialog = false;
    },
    onSizeChangeHandler(val) {
      this.pagination.number = val;
    },
    onCurrentChangeHandler(val) {
      this.pagination.page = val;
    },

    handleDelete(_, row) {
      this.itemSelected = row;
      this.showDeleteDialog = true;
    },
    onCancelDeleteHandler() {
      this.showDeleteDialog = false;
    },
    onSubmitDeleteHandler() {
      const { _id } = this.itemSelected;
      if (!_id) {
        this.showDeleteDialog = false;
        return;
      }
      this.deleteDeck(_id)
        .then(() => {
          this.$notify({
            group: "all",
            title: "Xóa bộ bài thành công",
            type: "success",
          });
          this.getDeckList(this.pagination);
        })
        .catch((error) => {
          this.$notify({
            group: "all",
            title: "Xóa bộ bài thất bại",
            type: "error",
            text: error,
          });
        })
        .finally(() => {
          this.showDeleteDialog = false;
        });
    },
  },
  watch: {
    pagination: {
      handler(val) {
        this.getDeckList(val);
      },
      deep: true,
    },
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.getDeckList(vm.pagination);
    });
  },
};
</script>
