<template>
  <el-tooltip
    :open-delay="300"
    :disabled="!description"
    effect="dark"
    placement="top"
    popper-class="wiki__item--tooltip__popper"
  >
    <div slot="content" class="wiki__item--tooltip__content">
      {{ description }}
    </div>
    <!-- :class="`${isCardItem ? 'card__item' : ''} wiki__item mx-auto my-3`" -->
    <div
      @click="$emit('showDetail')"
      :class="[
        'wiki__item',
        'mx-auto',
        'my-3',
        isCardItem ? 'card__item' : '',
        isDetailItem ? 'detail__item' : '',
      ]"
    >
      <div class="wiki__item--image__wrapper">
        <img
          v-if="coverMode"
          :src="url"
          alt=""
          width="70"
          height="110"
          class="wiki__item--image__left"
        />
        <img
          v-if="coverMode"
          :src="url"
          alt=""
          width="70"
          height="110"
          class="wiki__item--image__right"
        />
        <img
          :src="url"
          alt=""
          width="70"
          height="110"
          class="wiki__item--image__middle"
        />
      </div>
      <span class="wiki__item--image__label"> {{ name }} </span>
    </div>
  </el-tooltip>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: "/test.jpeg",
    },
    coverMode: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: null,
    },
    isCardItem: {
      type: Boolean,
      default: false,
    },
    isDetailItem: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
.wiki__item--tooltip__popper {
  transform: translateY(20px);
  .wiki__item--tooltip__content {
    height: 85px;
    padding: 10px;
    color: #fff;
    max-width: 250px;
    display: -webkit-box;
    margin: 0 auto;
    line-height: 1.5;
    left: 0;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
  }
}
.wiki__item:not(.card__item, .detail__item) {
  background-image: url("/bg-cricleldpi.png");
  background-size: 200px;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  .wiki__item--image__label {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: white;
    position: absolute;
    bottom: -10px;
  }
  .wiki__item--image__wrapper {
    position: relative;
    .wiki__item--image__left {
      position: absolute;
      transform: rotateZ(10deg);
    }
    .wiki__item--image__right {
      position: absolute;
      transform: rotateZ(-10deg);
    }
    .wiki__item--image__middle {
      position: relative;
      object-fit: cover;
    }
  }
}
.wiki__item.card__item {
  cursor: pointer;
  text-align: center;
  .wiki__item--image__label {
    line-height: 25px;
    font-size: 1.5rem;
    margin: 10px auto 5px;
    color: white;
  }
  .wiki__item--image__middle {
    padding: 15px;
    width: 100% !important;
    max-width: 200px !important;
    height: 310px !important;
  }
}
.wiki__item.detail__item {
  background-image: url("/bg-cricleldpi.png");
  background-size: 400px;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  .wiki__item--image__label {
    display: none;
  }
  .wiki__item--image__wrapper {
    position: relative;
    .wiki__item--image__left {
      width: 100% !important;
      max-width: 150px !important;
      height: 220px !important;
      position: absolute;
      transform: rotateZ(10deg);
    }
    .wiki__item--image__right {
      width: 100% !important;
      max-width: 150px !important;
      height: 220px !important;
      position: absolute;
      transform: rotateZ(-10deg);
    }
    .wiki__item--image__middle {
      width: 100% !important;
      max-width: 150px !important;
      height: 220px !important;
      position: relative;
      object-fit: cover;
    }
  }
}
</style>