<template>
  <el-carousel
    :autoplay="false"
    height="80vh"
    arrow="always"
    trigger="click"
    indicator-position="none"
    class="deck__carousel"
    :initial-index="selectedIndex"
    ref="carousel"
    @change="$emit('updateSelectedIndex', $event)"
  >
    <el-carousel-item
      v-for="(deck, index) in decks"
      :key="deck.id"
      :name="index.toString()"
    >
      <el-row>
        <el-col :md="12" :lg="15">
          <div class="deck__carousel--deck__wrapper">
            <span class="deck__carousel--deck__name">
              {{ deck.name }}
            </span>
            <span class="deck__carousel--deck__info">
              Tác giả: {{ deck.author | ByUnkown }}
            </span>
            <span class="deck__carousel--deck__info">
              Xuất bản: {{ deck.created_at }}</span
            >
            <span class="deck__carousel--deck__meaning">
              {{ deck.description }}</span
            >
          </div>
        </el-col>
        <el-col :md="12" :lg="9" class="p-2">
          <el-row>
            <el-col :span="24">
              <DeckItem
                :url="deck.full_url"
                :name="deck.name"
                :coverMode="true"
                :isDetailItem="true"
              />
            </el-col>
            <el-col :span="24">
              <div class="text-center deck__carousel--deck__detail mx-auto">
                <el-button
                  round
                  type="danger"
                  @click="$emit('handleViewDetailDeck', deck.slug)"
                  >Danh sách lá bài</el-button
                >
              </div>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-carousel-item>
  </el-carousel>
</template>

<script>
import DeckItem from "../Item/index.vue";
export default {
  components: {
    DeckItem,
  },
  props: {
    decks: {
      type: Array,
      default: () => [],
    },
    selectedIndex: {
      type: Number,
      default: 0,
    },
  },
  watch: {
    selectedIndex(val) {
      this.$refs.carousel.setActiveItem(val.toString());
    },
  },
};
</script>

<style lang="scss">
.deck__carousel {
  background-image: url("/swiper_bg.png");
  background-size: cover;
  border-radius: 10px;
  color: white;
  .el-carousel__arrow {
    font-size: 30px;
    width: 45px !important;
    height: 45px !important;
  }
  &--deck__wrapper {
    overflow-y: scroll;
    margin: 50px 0 50px 50px;
    padding: 0 10px;
    height: 70vh;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 20px;
    }
  }
  .el-carousel__item {
    background-color: transparent !important;
  }
  span {
    display: block;
  }
  &--deck__name {
    font-size: 2rem;
    margin-bottom: 15px;
  }
  &--deck__info {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  &--deck__meaning {
    margin-top: 30px;
    font-size: 1.3rem;
    text-align: justify;
    word-break: keep-all;
  }
  &--deck__detail {
    width: 400px;
  }
}
</style>